sentence-transformers==3.3.1
torch==2.5.1
torchvision==0.20.1
transformers==4.46.3
ollama==0.4.4
colorama==0.4.6
python-docx==1.1.2
PyPDF2==3.0.1
chromadb==0.4.18
tokenizers==0.21.0
numpy==1.26.0
protobuf==3.20.3
cryptography==43.0.3
